<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
  <link href="/css/basic.css" rel="stylesheet" type="text/css" />
    <link href="/css/top.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
    <a class="mainPage" href="/mainPage">MainPage</a><br>
    <div class="between">
        <div class="button_div">
            <a class="button" href="/post/write">판매 등록</a>
        </div>
        <div>
            <a class="member" th:href="@{|/member/${member.memberId}|}">
                <img class="topImg-profile" alt="프로필 사진" th:src="'/profileImg/' + ${member.memberImageName}">
                <span class="userID main-top-id point-span" th:text="${member.nickname}">asdf</span>
            </a>
            <a class="logout" href="/logout"> 로그아웃</a>
        </div>
    </div>
</div>

  <form action="editPasswordForm.html" th:action method="post">

      <div class="login-label-bottom">
          <h1 class="login-label">비밀번호 수정</h1>
      </div>
      <label for="password">새 비밀번호를 입력해주세요</label>
      <input class="input" type="password" id="password" name="password" required>

         <button class="input-submit" type="submit" >저장</button>
  </form>
</body>
</html>