<!DOCTYPE html>
<html>
<head>
    <title>비밀번호 찾기</title>
    <link href="/css/basic.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form action="/findPassword" method="post">
    <div class="login-label-bottom">
        <h1 class="login-label">비밀번호 찾기</h1>
    </div>
    <label for="nickname">아이디를 입력하세요.</label>
    <input class="input" type="text" id="nickname" name="nickname" required>
    <input class="input-submit" type="submit" value="등록된 email로 임시 비밀번호 전송">
</form>

<div class="basic" th:if="${message}">
    <span class="error-message" th:text="${message}"></span>
</div>

<div class="basic">
    <a href="/">로그인</a>
</div>
</body>
</html>