<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/basic.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form action="/login" method="post">
        <div class="login-label-bottom">
            <h1 class="login-label">로그인</h1>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <input class="input" type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요" required>
            <label for="password">비밀번호</label>
            <input class="input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            <br>
            <button class="input-submit" type="submit">Login</button>
        </div>
    </form>
    <div class="basic" th:if="${errorMessage}">
        <p class="error-message" th:text="${errorMessage}"></p>
    </div>
    <div class="links">
        <a href="/signUp">회원가입</a>
        <a href="/findNickname">아이디 찾기</a>
        <a href="/findPassword">비밀번호 찾기</a>
    </div>
</body>
</html>