<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>memberDetail</title>
  <link href="/css/basic.css" rel="stylesheet" type="text/css" />
  <link href="/css/top.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
  <a class="mainPage" href="/mainPage">MainPage</a><br>
  <div class="between">
    <div class="button_div">
      <a class="button" href="/post/write">판매 등록</a>
    </div>
    <div>
      <a class="member" th:href="@{|/member/${member2.memberId}|}">
        <img class="topImg-profile" alt="프로필 사진" th:src="'/profileImg/' + ${member2.memberImageName}">
        <span class="userID main-top-id point-span" th:text="${member2.nickname}">asdf</span>
      </a>
      <a class="logout" href="/logout"> 로그아웃</a>
    </div>
  </div>
</div>
<div class="basic">
  <div th:if="${param.status}" th:text="'수정 완료'"></div>
<div class="text-center">
  <div class="login-label-bottom">
    <h1 class="login-label">회원 정보</h1>
  </div>

    <img class="margin-bottom" th:src="'/profileImg/' + ${member2.memberImageName}">

  <label for="username">회원 이름</label>
  <input class="input" type="text" id="username" name="username"
         value="홍길동" th:value="${member.name}" readonly>

  <label for="nickname">회원 ID</label>
  <input class="input" type="text" id="nickname" name="nickname"
         value="loginId" th:value="${member.nickname}" readonly>

  <label for="email">email</label>
  <input class="input" type="email" id="email" name="email"
         value="abc@gmail.com" th:value="${member.email}" readonly>

  <label for="phoneNumber">phone</label>
  <input class="input" type="text" id="phoneNumber" name="phoneNumber"
         value="010-1234-5678" th:value="${member.phoneNumber}" readonly>
  <div class="basic">
    <button  onclick="location.href='editForm.html'"
             th:onclick="|location.href='@{/member/{memberId}/edit(memberId=${memberId})}'|"
             type="button">정보 수정</button>

    <button  onclick="location.href='editPasswordForm.html'"
             th:onclick="|location.href='@{/member/{memberId}/editPassword(memberId=${memberId})}'|"
             type="button">비밀번호 수정</button>

    <button  onclick="location.href='editImageForm.html.html'"
             th:onclick="|location.href='@{/member/{memberId}/editImage(memberId=${memberId})}'|"
             type="button">프로필이미지 수정</button>
  </div>
</div>
</div>
<!--<div class="basic">-->
<!--  <a href="/mainPage">메인 화면</a>-->
<!--</div>-->
</body>
</html>