<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>postPage</title>
  <link href="/css/main.css" rel="stylesheet" type="text/css" />
  <link href="/css/top.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
  <a class="mainPage" href="/mainPage">MainPage</a><br>
  <div class="between">
    <div class="button_div">
      <a class="button" href="/post/write">판매 등록</a>
    </div>
    <div>
      <a class="member" th:href="@{|/member/${member.memberId}|}">
        <img class="topImg-profile" alt="프로필 사진" th:src="'/profileImg/' + ${member.memberImageName}">
        <span class="userID main-top-id point-span" th:text="${member.nickname}">asdf</span>
      </a>
      <a class="logout" href="/logout"> 로그아웃</a>
    </div>
  </div>
</div>

<main>
  <div class="basic">
    <article>
      <header>
        <div class="profile-of-article">
          <img class="img-profile pic" alt="프로필 사진" th:src="'/profileImg/' + ${post.memberImageName}">
          <span class="userID main-id point-span" th:text="${post.memberDto.nickname}">asdf</span>
          <span class="modified-time" th:text="${post.modifiedAt}">10분</span>
        </div>
      </header>
      <div class="main-image" th:each="postFile : ${post.fileDTOS}">
        <img class="main-pic" alt="이미지 파일"
             th:src="'/profileImg/' + ${postFile.storeFileName}+ . + ${postFile.extension}">
      </div>
      <form action="privatePostPage.html" th:action  method="post" th:object="${PostSaveForm}" >
        <div class="basic">
          <input class="input-product" type="text" id="name" name="name" th:value="${post.productDto.name}">
          <input class="input-product" type="number" id="registrationPrice" name="registrationPrice"
                 th:value="${post.productDto.registrationPrice}">
          <textarea class="textarea-update" id="text" name="text" th:text="${post.text}"></textarea>
        </div>
        <div class="modify_button" >
          <button type="submit" name="action" value="modify">수정</button>
          <button type="submit" name="action" value="delete">삭제</button>
        </div>
      </form>
    </article>
  </div>
</main>
</body>
</html>